<aside class="user" style="width: 200px;">
  <section>
    <h6 class="side-heading3"><span class="reflect" data-text="成為用戶" style="font-size: 20px;">Become User</span></h6>
    <ul class="list-unstyled">
      <li><a class="side-button1 <%= req.path === '/user/register' ? 'active':'' %>" href="/user/register" style="font-size: 15px;">Register</a></li>
      <li><a class="side-button1 <%= req.path === '/user/forgot-password' ? 'active':'' %>" href="/user/forgot-password" style="font-size: 15px;">Forgot password</a></li>
    </ul>
  </section>
</aside>

