<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<div class="default-page" style=" width: 100%; text-align: center;">
  <h1 class="heading1"><span class="reflect" data-text="Student" style="font-size: 20px;">University Student Admission System</span></h1>
</div>