<h5>Select Interview Time</h5>
<div class="row">
    Dear <%= model.EngName %>﹕<P></P>

    As a result of your applicaiton for the University, we are glad to offer you an interview in regards to your choice of <%= model.teacherFaculty %>.
    <p></p>

    Please check the link below and select your preferred time slot within 7 days after you received this email.
    <p></p>
    https://doodle.com/poll/n55rt72cdf6e5ci8?utm_source=poll&utm_medium=link    
<P></P>
    Best regards,

</div>